<!DOCTYPE html>
<html lang="fr" xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
    <head>

    </head>
    <body>
        <h1 class="text-primary">{{ event.title }}</h1>

        {% set club = '' %}

        {% for people in event.peoples|sort((a, b) => a.club <=> b.club) %}
            {{ people.club }}
        {% endfor %}
    </body>
</html>
