<div class="d-none d-lg-inline-flex dropdown show">
    <a class="btn btn-lg btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ option.id ~ ' - ' ~ option.label }}
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for club in clubs %}
            <a class="dropdown-item" href="{{ path('owp_entry_add_form', {'slug': event.slug, 'mode': 'club', 'club': club.id}) }}">{{ club.id ~ ' - ' ~ club.label }}</a>
        {% endfor %}
    </div>
</div>
